<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hubuteam.ordersystem.mappers.ReviewMapper">
    <insert id="insertReview">
        INSERT INTO ordersys.reviews (comment, rating,  userID, orderID)
        VALUES (#{review.comment}, #{review.rating}, #{review.user.userID}, #{review.order.orderId})
    </insert>
</mapper>