<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hubuteam.ordersystem.mappers.UserMapper">
    <update id="updateUserInfo">
    UPDATE ordersys.users SET username = #{m_user.username}, phone = #{m_user.phone},address = #{m_user.address}
    WHERE userID = #{m_user.userID}
    </update>
</mapper>